:root {
  --body-background: #171717;
}

body {
  background: var(--body-background);
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  user-select: none;
}

.logo {
  height: 80px;
  position: absolute;
  top: 26px;
  left: 26px;
  /* mix-blend-mode: difference; */
  z-index: 10;
}

svg {
  position: absolute;
  left: 0; top: 0;
  transform: translate3d(0, 0, 1px);
  min-width: 100vw;  
  min-height: 100vh;  
}

.lines {
  fill: none;
  stroke: #444;
  /* stroke-width: .5px; */
  /* vector-effect: non-scaling-stroke; */
  stroke-width: .9px;
}

.letter {
  position: absolute;
  fill: #999;
  /* fill: rgba(255, 255, 255, .85); */
}

.mouse {
  fill: #999;
  mix-blend-mode: difference;
}

.headline {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate3d(-50%, -100%, 1px);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .35em;

  z-index: 10;
  /* mix-blend-mode: difference; */
}

.headline h1 {
  font-size: 48px;
  margin: 0 0 .5em;
  line-height: 1;
  font-weight: 500;
}

.headline h6 {
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-weight: 500;
  opacity: .5;
}

nav.social {
  position: absolute;
  left: 36px;
  bottom: 22px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  font-size: .9em;
}

nav.social a {
  color: #999;
  font-weight: 500;
  text-decoration: none;
  margin-right: 1.6em;
  position: relative;
  transition: 350ms ease color;
}

nav.social a:hover {
  color: #fff;
}

nav.social a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 111%;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: 350ms ease width;
}

nav.social a:hover:before {
  width: 100%;
}

.hide {
  opacity: 0;
}